*.o
stamp-*
*.stamp
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
missing
mkinstalldirs
po/Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
.deps
COPYING
INSTALL
Makefile
Makefile.in
Makefile.in.in
src/zeitgeist-datahub.c
src/telepathy-observer.c
src/recent-manager-provider.c
src/kde-recent-document-provider.c
src/downloads-directory-provider.c
src/desktop-launch-listener.c
src/data-provider.c
src/utils.c
